.temperature-chart {
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 95%;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #2a3f54;
    font-weight: 500;
    font-size: 1.2rem;
}

@media (max-width: 640px) { /* sm */
    .temperature-chart {
        padding: 20px;
    }

    h3 {
        font-size: 1rem;
    }
}

@media (max-width: 768px) { /* md */
    .temperature-chart {
        padding: 15px;
    }

    h3 {
        font-size: 0.9rem;
    }
}

@media (max-width: 1024px) { /* lg */
    .temperature-chart {
        padding: 10px;
    }

    h3 {
        font-size: 0.8rem;
    }
}
